<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Impute Missing Values**

Estimated time needed: **30** minutes

In this lab, you will practice essential data wrangling techniques using the Stack Overflow survey dataset. The primary focus is on handling missing data and ensuring data quality. You will:

- **Load the Data:** Import the dataset into a DataFrame using the pandas library.

- **Clean the Data:** Identify and remove duplicate entries to maintain data integrity.

- **Handle Missing Values:** Detect missing values, impute them with appropriate strategies, and verify the imputation to create a complete and reliable dataset for analysis.

This lab equips you with the skills to effectively preprocess and clean real-world datasets, a crucial step in any data analysis project.

## Objectives

In this lab, you will perform the following:

-   Identify missing values in the dataset.

-   Apply techniques to impute missing values in the dataset.
  
-   Use suitable techniques to normalize data in the dataset.

-----

#### Install needed library

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 9.6 MB/s eta 0:00:00
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 5.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 121.4 MB/s eta 0:00:0000:010:01
Downloading numpy-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 72.5 MB/s eta 0:00:00:00:0100:01
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 40.7 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 tzdata-2024.2

### Step 1: Import Required Libraries

In [2]:
import pandas as pd

### Step 2: Load the Dataset Into a Dataframe

#### **Read Data**
<p>
The functions below will download the dataset into your browser:
</p>

In [161]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...           0.00
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1           0.00           0.00           0.00            0.00
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1            0.00                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

### Step 3. Finding and Removing Duplicates
##### Task 1: Identify duplicate rows in the dataset.

In [162]:
## Write your code here
df.duplicated().sum()

np.int64(0)

##### Task 2: Remove the duplicate rows from the dataframe.

In [163]:
## Write your code here
df.drop_duplicates(inplace=True)

### Step 4: Finding Missing Values
##### Task 3: Find the missing values for all columns.

In [164]:
## Write your code here
columns_with_missing_values = df.isnull().sum().sort_values(ascending=False)
df_missing=columns_with_missing_values[columns_with_missing_values > 0]

df_missing_summary = pd.DataFrame({
    'Column': df_missing.index,
    'Missing Values': df_missing.values,
    'Total Rows': [df.shape[0]] * len(df_missing)
})

# Display the result
print(df_missing_summary)

                         Column  Missing Values  Total Rows
0    AINextMuch less integrated           64289       65437
1         AINextLess integrated           63082       65437
2               AINextNo change           52939       65437
3    AINextMuch more integrated           51999       65437
4               EmbeddedAdmired           48704       65437
..                          ...             ...         ...
104                   YearsCode            5568       65437
105                  NEWSOSites            5151       65437
106                   LearnCode            4949       65437
107                     EdLevel            4653       65437
108                    AISelect            4530       65437

[109 rows x 3 columns]

In [165]:
# Column to check
column_name = 'RemoteWork'

# Step 1: Get the number of missing values for the specific column
missing_count = df[column_name].isnull().sum()

# Step 2: Display the column name and missing count
column_summary = pd.DataFrame({
    'Column': [column_name],
    'Missing Values': [missing_count],
    'Total Rows': [df.shape[0]]
})

# Show the result
#print(column_summary)

In [166]:
remote_work_summary = df_missing_summary[df_missing_summary['Column'] == 'RemoteWork']
remote_work_summary

        Column  Missing Values  Total Rows
90  RemoteWork           10631       65437

In [167]:
most_frequent_with_count={}
df['RemoteWork'].isnull()
most_frequent_with_count = {}

# List of columns to process
cols = ['RemoteWork', 'Employment']

# Loop through each column to calculate mode and counts
for col in cols:
    # Get the mode of the column (ignores NaN by default)
    modes = df[col].mode()
    
    # Get the value counts of the column, including NaN by setting dropna=False
    counts = df[col].value_counts(dropna=False)
    #print(f"{col} ----{counts}")
    
    # Check if there are any NaN values and add it to the mode if necessary
    if df[col].isnull().any():
        modes = pd.concat([modes, pd.Series([None])], ignore_index=True)  # Add NaN/None to the modes
    
    # Create a dictionary of mode values and their respective counts
    most_frequent_values = {mode: counts.get(mode, 0) for mode in modes}
    
    # Store the result in the dictionary for the specific column
    most_frequent_with_count[col] = most_frequent_values

# Convert the dictionary to a DataFrame and transpose it for better readability
most_frequent_df = pd.DataFrame(most_frequent_with_count).T

# Print the resulting DataFrame
#print(most_frequent_df)

##### Task 4: Find out how many rows are missing in the column RemoteWork.

In [168]:
## Write your code here
missing_rows = df['RemoteWork'].isnull().sum()
print(f"Number of missing values in 'RemoteWork' column: {missing_rows}")

Number of missing values in 'RemoteWork' column: 10631

### Step 5. Imputing Missing Values
##### Task 5: Find the value counts for the column RemoteWork.

In [169]:
## Write your code here
remote_work_value_counts = df['RemoteWork'].value_counts(dropna=False)
print(f"Number of missing values in 'RemoteWork' column: {remote_work_value_counts}")

Number of missing values in 'RemoteWork' column: RemoteWork
Hybrid (some remote, some in-person)    23015
Remote                                  20831
In-person                               10960
NaN                                     10631
Name: count, dtype: int64

##### Task 6: Identify the most frequent (majority) value in the RemoteWork column.

In [170]:
## Write your code here
most_frequent_remote_work = df['RemoteWork'].mode()[0]
most_frequent_remote_work_vc = df['RemoteWork'].value_counts(dropna=False).idxmax()

print(f"{most_frequent_remote_work_vc} {most_frequent_remote_work}")

Hybrid (some remote, some in-person) Hybrid (some remote, some in-person)

##### Task 7: Impute (replace) all the empty rows in the column RemoteWork with the majority value.

In [171]:
## Write your code here
df['RemoteWork'].fillna(most_frequent_remote_work, inplace=True)
print(df['RemoteWork'].value_counts(dropna=False))

RemoteWork
Hybrid (some remote, some in-person)    33646
Remote                                  20831
In-person                               10960
Name: count, dtype: int64

/tmp/ipykernel_82/3324728283.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RemoteWork'].fillna(most_frequent_remote_work, inplace=True)

##### Task 8: Check for any compensation-related columns and describe their distribution.

In [172]:
## Write your code here
# Capping function
import numpy as np

# Function to handle missing values by imputing with the mode for categorical columns
def cover_missing_values(cols):
    # Calculate columns with missing values
    columns_with_missing_values = df[cols].isnull().sum().sort_values(ascending=False)
    df_missing = columns_with_missing_values[columns_with_missing_values > 0]

    # Create summary for missing values
    df_missing_summary = pd.DataFrame({
        'Column': df_missing.index,
        'Missing Values': df_missing.values,
        'Total Rows': [df.shape[0]] * len(df_missing)
    })

    # Apply capping to columns if needed
    df[cols] = df[cols].applymap(lambda x: min(x, 1e+7) if pd.notnull(x) else x)

    # After capping, handle missing values by imputing with mode (for categorical columns)
    for col in df_missing_summary['Column']:
        mode_value = df[col].mode()[0]  # Get the mode of the column (most frequent value)
        df[col] = df[col].fillna(mode_value)  # Impute missing values with mode
    
    # After imputing, show the capping and imputed values (drop NaN for inspection)
    print(f"After Capping and Imputation (Missing Values Filled with Mode):\n{df[cols].dropna().sort_values(by=cols[0], ascending=False)}")
    
    # Get most frequent values (modes) for each column
    most_frequent_values = {col: df[col].mode()[0] for col in df_missing_summary['Column']}
    
    # For overall most frequent value in the dataset (e.g., `CompTotal` or `Employment`)
    most_frequent_vc = df[cols].mode().iloc[0]  # The overall most frequent value across columns

    return df_missing_summary, most_frequent_values, most_frequent_vc

cols_to_check=['CompTotal','ConvertedCompYearly']

# Replace 0 with NaN in the selected columns in-place
df[cols_to_check].replace(0, np.nan, inplace=True)

# Check for missing values after treating 0 as NaN
columns_with_missing_values = df[cols_to_check].isnull().sum().sort_values(ascending=False)

# Display the number of missing values
print(columns_with_missing_values)
# Call the function to process columns
df_missing_summary, most_frequent_values, most_frequent_vc = cover_missing_values(cols_to_check)

# Output the results
print("\nSummary of Missing Values:\n", df_missing_summary)
print("\nMost Frequent Values (for each column):\n", most_frequent_values)
print("\nMost Frequent Value Across the Columns:", most_frequent_vc)

ConvertedCompYearly    42002
CompTotal              31697
dtype: int64
After Capping and Imputation (Missing Values Filled with Mode):
          CompTotal  ConvertedCompYearly
65436 10,000,000.00            64,444.00
0     10,000,000.00            64,444.00
1     10,000,000.00            64,444.00
2     10,000,000.00            64,444.00
3     10,000,000.00            64,444.00
...             ...                  ...
57791          0.00            64,444.00
52111          0.00            64,444.00
31303          0.00            64,444.00
16385          0.00            64,444.00
50244          0.00            64,444.00

[65437 rows x 2 columns]

Summary of Missing Values:
                 Column  Missing Values  Total Rows
0  ConvertedCompYearly           42002       65437
1            CompTotal           31697       65437

Most Frequent Values (for each column):
 {'ConvertedCompYearly': np.float64(64444.0), 'CompTotal': np.float64(10000000.0)}

Most Frequent Value Across the Columns: CompTotal             10,000,000.00
ConvertedCompYearly       64,444.00
Name: 0, dtype: float64

/tmp/ipykernel_82/1705533735.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cols_to_check].replace(0, np.nan, inplace=True)
/tmp/ipykernel_82/1705533735.py:19: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[cols] = df[cols].applymap(lambda x: min(x, 1e+7) if pd.notnull(x) else x)

In [173]:
print("Found two columns compensation-related in the dataset and the CompTotal max value is way too high its an outlier. I adjusted with the nearast max value i use the capping & imputing methods")

Found two columns compensation-related in the dataset and the CompTotal max value is way too high its an outlier. I adjusted with the nearast max value i use the capping & imputing methods

### Summary

**In this lab, you focused on imputing missing values in the dataset.**

- Use the <code>pandas.read_csv()</code> function to load a dataset from a CSV file into a DataFrame.

- Download the dataset if it's not available online and specify the correct file path.

<!--
## Change Log
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.3|Madhusudhan Moole|Updated lab|
|2024-10-29|1.2|Madhusudhan Moole|Updated lab|
|2024-09-27|1.1|Madhusudhan Moole|Updated lab|
|2024-09-26|1.0|Raghul Ramesh|Created lab|
--!>

Copyright © IBM Corporation. All rights reserved.